body{
  background-color:SteelBlue;
}

h1{
  color:Black;
  font-family: 'Comic Sans MS';
}

hr {
  height: 0; 
  border: 0; 
  border-top: 1px solid #000000; 
}

span{
  color:Black;
  font-family: 'Comic Sans MS';
  font-size: 60;
}

.spacer{
  padding-top: 100px;
}
